{{<partials-page}}
{{$headerClasses}}heading-xlarge{{/headerClasses}}
{{$page-content}}

<p>
    This service is run by the Home Office, in line with legislation such as the <a
        href="http://www.legislation.gov.uk/ukpga/1998/29/contents">Data Protection Act 1998</a>. This means we will
    keep your information safe and won’t share it with anyone else – unless sharing is allowed or required by law.</p>
<p>You can use this service to check someone’s right to work in the UK – if they have given you permission to do so using the <a href="../view">prove your right to work to an employer</a> service.</p>

<h2 class="heading-medium">How we use your information</h2>
<p>We use the information you enter to:</p>
<ul class="list list-bullet">
    <li>show you a job applicant’s information, including their name, photo, what work they are allowed do and when their visa expires</li>
    <li>keep a record that you made a check</li>
</ul>

<p>We also keep a record of how you use the service, including when you view someone’s information and how often. This helps us make improvements to the service and prevent abuse.</p>
<p>By using this service, you agree that we can use your information in this way.</p>
<p>If a job applicant shares their right to work information with you, you will become the ‘data controller’ (as defined in the Data Protection Act 1998) of their information. This means you will be responsible for keeping the job applicant’s information safe.</p>

<h2 class="heading-medium">Complaints</h2>
<p>If you think the Home Office has not met its responsibilities under the Data Protection Act 1998 as part of this
    service, you can email us at <a href="mailto:complaints@homeoffice.gsi.gov.uk">complaints@homeoffice.gsi.gov.uk</a>.
</p>

<p>Or you can write to us at:</p>
<div class="panel panel-border">
    <p>Complaints allocation hub<br>
        Central point of receipt<br>
        11th Floor<br>
        Lunar House<br>
        40 Wellesley Road<br>
        Croydon<br>
        CR9 2BY</p>
</div>


{{/page-content}}
{{/partials-page}}

