{{<partials-page}}
{{$headerClasses}}heading-xlarge{{/headerClasses}}
{{$page-content}}

<p>
    This service is run by the Home Office, in line with legislation such as the <a
        href="http://www.legislation.gov.uk/ukpga/1998/29/contents">Data Protection Act 1998</a>. This means we will
    keep your information safe and won’t share it with anyone else – unless sharing is allowed or required by law.</p>
<p>You can use this service to:</p>
<ul class="list list-bullet">
    <li>view your right to work in the UK</li>
    <li>share proof of your right to work with an employer</li>
</ul>

<h2 class="heading-medium">How we use your information</h2>
<p>We use the information you enter to:</p>
<ul class="list list-bullet">
    <li>confirm your identity</li>
    <li>show if you are allowed work in the UK, how long for and what work you can do</li>
    <li>email employers who you choose to share your right to work information with</li>
</ul>

<p>We also keep a record of how you use the service, including:</p>
<ul class="list list-bullet">
    <li>when you view your information</li>
    <li>when you share your information</li>
    <li>who you share your information with</li>
</ul>

<p>This helps us make improvements to the service and prevent abuse.</p>
<p>By using this service, you agree that we can use your information in this way.</p>

<h2 class="heading-medium">Sharing your right to work information</h2>
<p>You control who to share your right to work information with.</p>
<p>To share your right to work information, enter the email address of the employer you want to view your information.
    We will email them a code and instructions on how to view your information securely on GOV.UK – we never send your
    personal information by email.</p>
<p>When you share your right to work information with an employer, you give them permission to view your information.
    The employer becomes the ‘data controller’ (as defined in the Data Protection Act 1998) and is responsible for how
    your information is used – this is outside of our control. That means it is your responsibility check the employer’s
    email address is correct.</p>


<h2 class="heading-medium">Complaints</h2>
<p>If you think the Home Office has not met its responsibilities under the Data Protection Act 1998 as part of this
    service, you can email us at <a href="mailto:complaints@homeoffice.gsi.gov.uk">complaints@homeoffice.gsi.gov.uk</a>.
</p>

<p>Or you can write to us at:</p>
<div class="panel panel-border">
    <p>Complaints allocation hub<br>
        Central point of receipt<br>
        11th Floor<br>
        Lunar House<br>
        40 Wellesley Road<br>
        Croydon<br>
        CR9 2BY</p>
</div>


{{/page-content}}
{{/partials-page}}

